{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="" method="post">
  <h3>Login to Django</h3>

  {% if messages %}
    <div class="alert alert-danger">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>

  <div class="sign-up">
    Don't have an account? <a href="{% url 'register_attempt' %}">Register</a>
  </div>

</form>
{% endblock %}
